$bg-color:#0e0e64;
$primary-color: #049604;
$secondary-color: #04ff04;
$inverted-primary-color: #0031d1;
$inverted-secondary-color: #0449e0;
$inverted-bg-color:#e8e8ea;

.app.dark{
  background: $bg-color;
  color: $primary-color;
}