$bg-color:#e8e8ea;
$primary-color: #0031d1;
$secondary-color: #0449e0;
$inverted-primary-color: #049604;
$inverted-secondary-color: #04ff04;
$inverted-bg-color:#0e0e64;

.app.light{
  background: $bg-color;
  color: $primary-color;
}